.charts {
    display: flex;
    flex-direction: row;
}

.chart {
    width: 33%;
    border: 1px solid #eee;
    box-shadow: 0 2px 3px #ccc;
    padding: 10px;
    margin: 10px auto;
    box-sizing: border-box;
    font-weight: bold;
}

.header {
    background-color: palegoldenrod;
    padding: 10px;
}

.OrderTable {
    width: 100%;
    display: inline-block;
    text-align: center;
    cursor: pointer;
}
